<html>
	<head>
		<script src="Depender.js"></script>
	</head>
	<body>
		<!--<script>
			var depender_url = "Depender.js";
			if(localStorage) {
				var script = document.createElement("script");
				var depender_code = localStorage.getItem(depender_url);
				document.body.appendChild(script);
				if(depender_code) {
					script.innerHTML = depender_code;
				} else {
					script.src = depender_url;
				}
			} else {
				(new Function(
					"function depends(url, version) {"
					+ "var script = document.createElement('script');"
					+ "script.src = url;"
					+ "document.body.appendChild(script);"
					+ "}"
				))();
			}
		</script>-->
		<script>
			depends({
				"RenderableModel.js":	0.6,
			}, function(){
				var r = new Template(
					"bla <%= this.ble %>; bli <%= this.blo %>;<br /><% for(var i = 0; i < this.array.length; i++) { %>blu<%= i %>: <%= this.array[i] %>; <% } %>"
				);
				var acumulator = new Acumulator("the_last_one")
				for(var i = 0; i < 10; i++) {
					acumulator.push(
						{ble: "number: " + i, blo: "oooooooooo", array: ["a", "e", "i", "o", "u"]},
						function(data){document.body.innerHTML += r.render(data)}
					);
				}
			});
		</script>
	</body>
</html>
